@model WebApplication2.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.planDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.planDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OutCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OutCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZSL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XSL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XSL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SZ)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SZ)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SZ1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SZ1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectCmpy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectCmpy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipToAdd1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipToAdd1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipToContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipToContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecipeNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecipeNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectPart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectPart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShipVia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShipVia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CementID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CementID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Distance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Distance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ustate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ustate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SZ2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SZ2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskCodeERP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskCodeERP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prjno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prjno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lshao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lshao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DSLst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DSLst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZSLst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZSLst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XSLst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XSLst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SZst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SZst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SZ1st)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SZ1st)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intensityLevelt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intensityLevelt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tldt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tldt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
